<header>
<h1 class="head">ようこそ<span>Bookers</span>へ！</h1>
</header>

<p class="head-text"><span>Bookers</span> では、さまざまな書籍に関するあなたの意見や</p>
<p class="head-text">印象を共有し交換することができます</p>
<p class="head-text"><%= link_to "start", books_path %></p>