<section>
 <h4 class="detail">Title:</h4>
 <p><%= @book.title %></p>
 <h4 class="detail">Body:</h4>
 <p ><%= @book.body %></p>
</section>

<%= link_to "Edit", edit_book_path(@book) %>

<%= link_to "Back", books_path(@book) %>